<script type="text/javascript">
  $(document).ready(function() {
    $(".best_in_place").best_in_place();
  });
</script>

<h1></h1>
<div class="mui-row">
  <div class="mui-col-md-5">
    <%= image_tag(@page.image, :width => '100%', :height => '100%', :class => "mui--z2") %>
  </div>
  <div class="mui-col-md-7">
    <%= best_in_place @page, :content,
                              :path => book_page_path(@book, @page),
                              :as => :textarea,
                              #:html_attrs => { :cols => '100%', :rows => '100%' },
                              :html_attrs => { :style => 'width:100%; height:100%;' },
                              #:ok_button => '保存',
                              #:cancel_button => 'キャンセル'
                              :nil => "ここでクリックして翻訳して下さい。" %>
  </div>
</div>
<br/>
<div class="mui-row">
  <div class="mui-col-md-4 mui--text-left" style="text-decoration:none;font-size:20px;">
    <%= prePage(@page.id) %>
  </div>
  <div class="mui-col-md-4 mui--text-center" style="text-decoration:none;font-size:20px;">
   ページ番号：<%= @page.pagenumber %>
  </div>
  <div class="mui-col-md-4 mui--text-right" style="text-decoration:none;font-size:20px;">
    <%= nextPage(@page.id) %>
  </div>
</div>
