<script type="text/javascript">
  $(document).ready(function() {
    $(".best_in_place").best_in_place();
  });
</script>
<p id="notice"><%= notice %></p>

<div class="section group">
	<div class="col span_1_of_2">
    <%= image_tag(@page.image, :width => '100%', :height => '100%') %>
	</div>
	<div class="col span_1_of_2">
    <%= best_in_place @page, :content, :path => book_page_path(@book, @page), :as => :textarea, :ok_button => '保存', :cancel_button => 'キャンセル'  %>
	</div>
</div>
<div class="section group">
	<div class="col span_1_of_2">
    <%= link_to '戻る', book_pages_path(@book) %>
	</div>
	<div class="col span_1_of_2">
		<%= prePage(@page.id) %>
	 ページ番号：<%= @page.pagenumber %>
 		<%= nextPage(@page.id) %>
	</div>
</div>
