
<div class="mui-panel">
  <%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mui-textfield mui-textfield--float-label">
    <%= f.text_field :name,  :class => "mui--is-empty mui--is-dirty" %>
    <%= f.label :name %>
  </div>

  <div class="mui-textfield mui-textfield--float-label">
    <%= f.text_area :description,  :class => "mui--is-empty" %>
    <%= f.label :description %>
  </div>

  <div class="mui-textfield mui-textfield--float-label">
    <%= f.file_field :cover,  :class => "mui--is-empty mui--is-dirty" %>
  </div>

  <div class="mui-textfield mui-textfield--float-label">
    <%= f.text_field :lang,  :class => "mui--is-empty mui--is-dirty" %>
    <%= f.label :lang %>
  </div>

  <div class="actions">
    <%= f.submit '登録', :class => "mui-btn mui-btn--raised" %>
    <%= link_to '戻る', books_path, :class => "mui-btn mui-btn--raised" %>
  </div>
  <% end %>

</div>
